GtkWindow {
    color: black;
    font-family: "Verdana";
    font-size: 10px;
}

.button, #jobs, #scripts, #apps{
    color: white;
    background: #18453b;
    font-size: 10px;

}
.button:hover{
	background: #00ff7f;
	text-shadow: 0 0 5px blue, 0 0 5px purple;
	opacity: 0.5;
}



#dropdown {
	background: #A9A9A9;
}

#dropdown:hover {
	background: #800080;
}

#exit:hover {
	background: #ff0000;
}

.view {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 8px;
}

#View {
    font-size: 10px;
}

#info_row{
    color: black;
    background: lightgrey;
    font-size: 10px;
}

#info_row:hover{
    color: white;
    background: #18453b;
    text-shadow: 0 0 5px blue, 0 0 5px purple;
}

#header_button{
    background: white;
    color: black;
}

#header_button:hover{
    background: #18453b;
    color: white;
	opacity: 0.5;
}
